.header{
    background-color: #fff;
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    padding: 24px 0;
}
.logo{
    height: 80px;
    overflow: hidden;
}
.logo img{
    height: 100%;
}
.nav ul{
    list-style: none;
}
.nav li{
    margin: 0 24px;
    position: relative;
}
.nav li a{
    color: var(--blue);
}
.nav li a:hover{
    text-decoration: underline;
    color: var(--light-blue);
}
.icons{
    border-radius: 10px;
    background: #eee;
    color: var(--blue);
    margin-left: 24px;
    vertical-align: middle;
    padding: 15px;
}
.icons:hover{
    background: var(--light-blue);
    color: #fff;
}


.search-board{
    position: absolute;
    height: 45px;
    width: 0;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    top: -110%; right: -110%;
    font-style: italic;
    transition: 0.6s linear;
}

.basket-icons #search-btn:hover + .search-board{
    width: 470px;
    right: 20px; top: 108%;
}

.shopping-cart{
    position: absolute;
    top: -110%; right: -110%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    width: 0;
    background: #fff;
    transition: 0.6s linear;
}
.basket-icons #cart-btn:hover + .shopping-cart{
    width: 470px;
    right: 20px; top: 108%;
}

.shopping-cart .shopping-box{
    display: flex;
    align-items: center;
    position: relative;
    gap: 50px;
    margin: 50px 0;
}
.shopping-cart .shopping-box img{
    height: 160px;
}
.shopping-cart .shopping-box .fa-trash{
    font-size: 30px;
    position: absolute;
    right: 50px;
    color: var(--blue);
}
.shopping-cart .shopping-box .fa-trash:hover{
    color: var(--light-blue);
}
.shopping-cart .shopping-box .content span{
    margin: 10px 0;
}
.shopping-cart .shopping-box .content .quantity{
    padding-left: 15px;
}
.shopping-cart .total{
    font-size: 38px;
    color: var(--blue);
    margin-bottom: 50px;
}
.checkout{
    font-size: 20px;
    display: block;
}
.btn:hover{
    background: var(--light-blue);
    color: #fff;
    border: 3px solid white;
    padding: 10px 24px;
}

.login{
    position: absolute;
    top: -110%; right: -110%;
    width: 0;
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 15px;
    background: #fff;
    transition: 0.6s linear;
}
.login .h3{
    text-transform: uppercase;
}
.login p a{
    color: var(--light-blue);
    text-decoration: underline;
}
.login .email-box{
    width: 100%;
    margin: 20px 0;
    background: #eee;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-transform: none;
}
.basket-icons #login-btn:hover + .login{
    top: 108%; right: 20px;
    width: 470px;
}


.banner{
    height: 110vh;
    background: url("../img/background1.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.banner-content h1{
    color: #fff;
}
.banner-content p{
    margin: 24px 0 32px;
    word-spacing: 5px;
    letter-spacing: 8px;
    line-height: 24px;
}
.shop-now{
    display: inline-block;
    color: var(--blue);
    font-size: 36px;
    text-transform: uppercase;
    color: rgb(87, 86, 86);
}
.banner-blue{
    color: var(--blue);
}

.features{
    padding: 120px 0;
}
.heading{
    margin: 50px 0;
    color: black;
}
.heading span{
    color: var(--blue);
}
.feature-img{
    height: 550px;
    overflow: hidden;
}
.feature-img img{
    height: 100%;
}
.box{
    background: #fff;
    overflow: hidden;
    margin: 5%;
    border-radius: 20px;
    box-shadow: var(--box-shadow);

}
.feature-content{
    padding: 30px 0;
}
.feature-content p{
    margin: 24px 0;
    line-height: 24px;
}
.box:hover{
    outline: var(--outline);
}
.box:hover .feature-img img{
    height: 130%;
}

.products{
    padding: 160px 0;
}
.product-img{
    height: 320px;
    overflow: hidden;
}
.product-img img{
    width: 100%;
}
.product-content{
    padding: 24px 0;
}
.mar-bot{
    margin-bottom: 24px;
}
.mar-left{
    margin-left: 30px;
}
.category-box-1 img,.category-box-2 img,.category-box-3 img{
    width: 100%;
}
.category-box-1{
    opacity: 0;
    transition: 2s;
}
.category-box-1:hover{
    opacity: 1;
}
.category-box-2{
    opacity: 0;
    transition: 2s;
}
.category-box-2:hover{
    opacity: 1;
}
.category-box-3{
    opacity: 0;
    transition: 2s;
}
.category-box-3:hover{
    opacity: 1;
}
.categories-bg{
    background: url("../img/cate.gif");
    background-size: 250vh;
    background-repeat: no-repeat;
    background-position: center;
}

.footer{
    background: #fff;
    display: flex;
    box-shadow: var(--box-shadow);
    padding: 24px 0;
}
.footer p{
    margin-bottom: 24px;
}
.share-icons{
    border-radius: 10px;
    background: #eee;
    color: var(--blue);
    margin-right: 24px;
    vertical-align: middle;
    padding: 18px;
}
.share-icons:hover{
    background: var(--light-blue);
    color: #fff;
}
.footer .ends a{
    display: block;
    color: var(--light-color);
    padding: 15px 0;
}
.footer .ends a i{
    color: var(--light-blue);
    padding-right: 10px;
}
.footer .ends a i:hover{
    color: var(--blue);
    padding-right: 25px;
}

